.orb-container {
  position: absolute;
  top: 36.8%;
  left: 43.5%;
  transform: translate(-30%, -50%);
  z-index: -1; /* Orb уходит на фон */
  width: 65%; /* Увеличенный размер, чтобы покрывать фон */
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*   opacity: 0.9;
 */
}

@media (max-width: 1024px) {
  .orb-container {
    top: 35.5%;
    left: 42.7%;
    transform: translate(-30%, -50%);
    width: 71%; /* Увеличенный размер, чтобы покрывать фон */
    height: 71%;
  }
}
@media (max-width: 768px) {
  .orb-container {
    top: 36.8%;
    left: 35.7%;
    transform: translate(-30%, -50%);
    width: 60%; /* Увеличенный размер, чтобы покрывать фон */
    height: 71%;
    opacity: 0.9;
  }
}
