#root {
/*   max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; 
  text-align: center; */

}



@media (min-width: 768px) {
  #root {
    padding: 0;
    margin: 0;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.animated-hase {
 /*  display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  font-size: 1rem;
  /* font-weight: bold; */
  color: #ecaddf;
  margin-top: 1rem;
}

.animated-hase span {
  opacity: 0.2;
  animation: glowFade 3s infinite;
  animation-fill-mode: both;
}

@keyframes glowFade {
  0%, 100% {
    opacity: 0.3;
    color: #ffb8ff;
    text-shadow: none;
  }
  50% {
    opacity: 0.9;
    color: #e093e0;
/*     text-shadow: 0 0 10px rgba(252, 217, 22, 0.7);
 */  }
}