@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #a3bffa;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

body {
  font-family: "Open Sans", sans-serif !important;
}
