@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(137, 159, 231);
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
